{% extends "_index.html" %}
{% block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='Chart.min.js') }}"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>

google.load('visualization', '1', {'packages':['corechart', 'annotationchart']});
$(document).ready(function(){

    //Set up web socket communication
    namespace = '/test';
    var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
    socket.on('connect', function(){
        socket.emit('my event', {data: 'I\'m connected!'});
    });

    function loadData() {
        console.log("load data called")
        $.ajax({
            url: "{{url_for('lastTen')}}",
            success: function(result) {
                drawChart(result)
            }
        })
    }

    {% if 'chart' in request.args and request.args.get('chart') == 'oxygen' %}
         function drawChart(results) {
            $(".progress").hide()
            var oxygen = new google.visualization.DataTable();
            oxygen.addColumn('datetime', 'Time')
            oxygen.addColumn('number', 'Blood Oxygen Saturation')
            oxygenData = results['blood_oxygen'];

            for (var i = 0; i < oxygenData.length; i++) {
                data = parseFloat(oxygenData[i]['blood_oxygen'])
                time = new Date(oxygenData[i]['time'])
                oxygen.addRow([time, data])
            }

            var bloodOptions = {'title':'Blood Oxygen Saturation',
                pointSize: 1,
                width: 900,
                height: 200,
                vAxis: {
                    'maxValue' : 100,
                    'minValue' : 0
                },
                colors: ['#2E9AFE'],
                hAxis: {
                    gridlines: {
                        count: -1,
                        units: {
                            days: {format: ['MMM dd']},
                            hours: {format: ['hh:mm a', 'ha']},
                        }
                    },
                    minorGridlines: {
                        units: {
                            hours: {format: ['hh:mm:ss a', 'ha']},
                            minutes: {format: ['hh:mm a', ':mm']}
                        }
                    }
                }
            };

            var formatter = new google.visualization.DateFormat({formatType: 'medium'});
            formatter.format(oxygen, 0)
            var bloodChart = new google.visualization.LineChart(document.getElementById('blood_chart'))
            bloodChart.draw(oxygen, bloodOptions);
        }
    {% else %}
        function drawChart(results) {
            $(".progress").hide()
            var heartRate = new google.visualization.DataTable();
            heartRate.addColumn('datetime', 'Time')
            heartRate.addColumn('number', 'Heart Rate')

            heartData = results['heart_rate'];

            for (var i = 0; i < heartData.length; i++) {
                data = parseFloat(heartData[i]['heart_rate'])
                time = new Date(heartData[i]['time'])
                heartRate.addRow([time, data])
            }

            var heartOptions = {'title':'Heart Rate',
                'pointSize': 1,
                'width' : 900,
                'height' : 200,
                'colors' : ['#B40404'],
                hAxis: {
                    gridlines: {
                        count: -1,
                        units: {
                            days: {format: ['MMM dd']},
                            hours: {format: ['hh:mm a', 'ha']},
                        }
                    },
                    minorGridlines: {
                        units: {
                            hours: {format: ['hh:mm:ss a', 'ha']},
                            minutes: {format: ['hh:mm a', ':mm']}
                        }
                    }
                }
            };

            var formatter = new google.visualization.DateFormat({formatType: 'medium'});
            formatter.format(heartRate, 0)
            var heartChart = new google.visualization.LineChart(document.getElementById('heart_chart'))
            heartChart.draw(heartRate, heartOptions);
        }
    {% endif %}
    setInterval(function() {
        loadData()
    }, 5000);
    loadData()
});
</script>
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li role="presentation" class="{{heartActive}}"><a href="{{ url_for('liveData') }}">Heart Rate</a></li>
        <li role="presentation" class="{{oxygenActive}}"><a href="{{ url_for('liveData') }}?chart=oxygen">Blood Oxygen Saturation</a></li>
    </ul>
    {% if 'chart' in request.args and request.args.get('chart') == 'oxygen' %}
        <h3>Blood Oxygen Saturation</h3>
        <div id="blood_chart" style="width: 900px; height: 200px;"></div>
    {% else %}
        <h3>Heart Rate</h3>
        <div id="heart_chart" style="width: 900px; height: 200px;"></div>
    {% endif %}

{% endblock %}
