{% extends "_index.html" %}

{% block scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-datetimepicker.min.css') }}">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{ url_for('static', filename='moment.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-datetimepicker.js') }}"></script>
<script>

google.load('visualization', '1', {'packages':['corechart', 'annotationchart']});

$(document).ready(function() {

	function loadDateTimeRange() {
		$(".progress").show()
		hideCharts()
		startDate = new Date($("#startDateInput").val())
		endDate = new Date($("#endDateInput").val())
		dataGap = $(".data-gap").val()
		startDateStr = getFormattedDate(startDate)
		endDateStr = getFormattedDate(endDate)
		$.ajax({
			url: "{{url_for('getDateTimeRange')}}",
			data: {'startDateTime': startDateStr, 'endDateTime': endDateStr, 'dataGap': dataGap},
			success: function(result) {
				drawCharts(result)
			}
		})
	}

	function getFormattedDate(d) {
	    return d.getFullYear() + "-" + ('0' + (d.getMonth() + 1)).slice(-2) + "-" + ('0' + d.getDate()).slice(-2) + " " + ('0' + d.getHours()).slice(-2) + ":" + ('0' + d.getMinutes()).slice(-2) + ":" + ('0' + d.getSeconds()).slice(-2);
	}

	function getEndOfDay(date) {
		var copiedDate = new Date(date.valueOf());
		copiedDate.setHours(23);
		copiedDate.setMinutes(59);
		copiedDate.setSeconds(59);
		return copiedDate;
	}

	function hideCharts() {
		$("#heart_chart").html("")
		$("#blood_chart").html("")
		$("#temp_chart").html("")
	}

	function drawCharts(results) {
		$(".progress").hide()
		var heartRate = new google.visualization.DataTable();
		heartRate.addColumn('datetime', 'Time')
		heartRate.addColumn('number', 'Heart Rate')

		var temp = new google.visualization.DataTable();
		temp.addColumn('datetime', 'Time')
		temp.addColumn('number', 'Temperature')

		var oxygen = new google.visualization.DataTable();
		oxygen.addColumn('datetime', 'Time')
		oxygen.addColumn('number', 'Blood Oxygen Saturation')

		heartData = results['heart_rate'];
		oxygenData = results['blood_oxygen'];
		tempData = results['temp']

		for (var i = 0; i < heartData.length; i++) {
			data = parseFloat(heartData[i]['heart_rate'])
			time = new Date(heartData[i]['time'])
			heartRate.addRow([time, data])
		}

		for (var i = 0; i < oxygenData.length; i++) {
			data = parseFloat(oxygenData[i]['blood_oxygen'])
			time = new Date(oxygenData[i]['time'])
			oxygen.addRow([time, data])
		}

		for (var i = 0; i < tempData.length; i++) {
			data = parseFloat(tempData[i]['temp'])
			time = new Date(tempData[i]['time'])
			temp.addRow([time, data])
		}

		var heartOptions = {'title':'Heart Rate',
				'pointSize': 1,
                'width' : 900,
                'height' : 200,
                'vAxis': {
                	'maxValue' : 150,
                	'minValue' : 0
                },
                'colors' : ['#B40404'],
                hAxis: {
					gridlines: {
						count: -1,
						units: {
							days: {format: ['MMM dd']},
							hours: {format: ['hh:mm a', 'ha']},
						}
					},
					minorGridlines: {
						units: {
							hours: {format: ['hh:mm:ss a', 'ha']},
							minutes: {format: ['hh:mm a', ':mm']}
						}
					}
            	}
            };
		var bloodOptions = {'title':'Blood Oxygen Saturation',
				pointSize: 1,
                width: 900,
                height: 200,
                vAxis: {
                	'maxValue' : 100,
                	'minValue' : 0
                },
                colors: ['#2E9AFE'],
                hAxis: {
					gridlines: {
						count: -1,
						units: {
							days: {format: ['MMM dd']},
							hours: {format: ['hh:mm a', 'ha']},
						}
					},
					minorGridlines: {
						units: {
							hours: {format: ['hh:mm:ss a', 'ha']},
							minutes: {format: ['hh:mm a', ':mm']}
						}
					}
            	}
            };
		var tempOptions = {'title':'Body Temperature',
				'pointSize': 1,
                'width' : 900,
                'height' : 200,
                'vAxis': {
                	'maxValue' : 110,
                	'minValue' : 0
                },
                'colors' : ['#848484'],
				hAxis: {
					gridlines: {
						count: -1,
						units: {
							days: {format: ['MMM dd']},
							hours: {format: ['hh:mm a', 'ha']},
						}
					},
					minorGridlines: {
						units: {
							hours: {format: ['hh:mm:ss a', 'ha']},
							minutes: {format: ['hh:mm a', ':mm']}
						}
					}
            	}
            };

        var formatter = new google.visualization.DateFormat({formatType: 'medium'});
        formatter.format(heartRate, 0)
        formatter.format(oxygen, 0)
		formatter.format(temp, 0)
        var heartChart = new google.visualization.LineChart(document.getElementById('heart_chart'))
        var bloodChart = new google.visualization.LineChart(document.getElementById('blood_chart'))
        var tempCart = new google.visualization.LineChart(document.getElementById('temp_chart'))
        heartChart.draw(heartRate, heartOptions);
        bloodChart.draw(oxygen, bloodOptions);
        tempCart.draw(temp, tempOptions);
	}

	$(".progress").hide()
	dateStr = {{dates|safe}}
	dates = new Array()
	for (var i = 0; i < dateStr.length; i++) {
		var date = new Date(dateStr[i])
		date.setHours(0)
		date.setMinutes(0)
		date.setSeconds(0)
		dates.push(date.getTime())
	}


	$('#startDate').datetimepicker({
		enabledDates: dates,
		useCurrent: false,
		allowInputToggle: true,
		showClose: true,
		defaultDate: dates[dates.length - 1]
	});
	$('#endDate').datetimepicker({
		enabledDates: dates,
		useCurrent: false,
		allowInputToggle: true,
		showClose: true,
		defaultDate: getEndOfDay(dates[dates.length - 1])
	});
	$("#startDate").on("dp.change", function (e) {
		$('#endDate').data("DateTimePicker").minDate(e.date);
	});
	$("#endDate").on("dp.change", function (e) {
		$('#startDate').data("DateTimePicker").maxDate(e.date);
	});
	$(".submit").click(loadDateTimeRange)
})
</script>
{% endblock %}

{% block content %}
	<div class="main-content">
		<div class="row">
			<div class="col-md-5">
				<form>
			        <div class="form-group">
			            <div class='input-group date' id='startDate'>
			                <input type='text' class="form-control" placeholder="Start date and time" id="startDateInput"/>
			                <span class="input-group-addon">
			                    <span class="glyphicon glyphicon-calendar"></span>
			                </span>
			            </div>
			        </div>
			        <div class="form-group">
			            <div class='input-group date' id='endDate'>
			                <input type='text' class="form-control" placeholder="End date and time" id="endDateInput"/>
			                <span class="input-group-addon">
			                    <span class="glyphicon glyphicon-calendar"></span>
			                </span>
			            </div>
			        </div>
					<div class="form-group">
						<select class="data-gap" value="60">
							<option value="60">One Minute</option>
							<option value="300">Five Minute</option>
							<option value="600">Ten Minute</option>
							<option value="1800">Half Hour</option>
							<option value="3600">One Hour</option>
						</select>
					</div>
				</form>
			</div>
		</div>
		<button type="button" class="btn btn-primary submit" style="margin-top: 10px;">Load Data</button>
		<div class="row">
			<div class="col-md-12 data-content">
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						Loading...
					</div>
				</div>
				<div id="heart_chart" style="width: 900px; height: 200px;"></div>
				<div id="blood_chart" style="width: 900px; height: 200px;"></div>
				<div id="temp_chart" style="width: 900px; height: 200px;"></div>
			</div>
		</div>
	</div>

{% endblock %}