.navbar-default {
	margin-bottom: 0px;
}
.content {
	padding-top: 60px;
	height: 100%;
	overflow: scroll;
}
.max-height {
	height: 100%;
}
.side-bar {
	padding-top: 60px;
	border-right: 1px solid #e7e7e7;
	border-color: #e7e7e7;
	background-repeat: repeat-x;
	background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
	box-shadow: inset 1px px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}