{% extends "_index.html" %}
{% block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='Chart.min.js') }}"></script>
<script>
$(document).ready(function(){

    //Set up web socket communication
    namespace = '/test';
    var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
    socket.on('connect', function(){
        socket.emit('my event', {data: 'I\'m connected!'});
    });

    {% if 'chart' in request.args and request.args.get('chart') == 'oxygen' %}
        //Set up blood oxygen saturation chart
        var oxygenCount = 0;
        var data = {
            labels: [],
            datasets: [
                {
                    label: "Blood Oxygen Level",
                    fillColor: "rgba(151,187,205,0)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: []
                }
            ]
        };

        var octx = $('#oxygen-chart').get(0).getContext('2d')
        var oxChart = new Chart(octx).Line(data, {
            scaleBeginAtZero: true,
        });

            //Set up oxygen chart web socket communication
        socket.on('oxygen', function(msg){
            if(msg['num'] != undefined){
                var d = new Date();
                var hours = d.getHours();
                var ampm = hours >= 12 ? 'pm' : 'am';
                if(hours > 12){
                    hours = hours % 12;
                }
                var minutes = d.getMinutes();
                minutes = minutes < 10 ? '0' + minutes : minutes
                var seconds = d.getSeconds();
                seconds = seconds < 10 ? '0' + seconds : seconds
                var time = hours + ":" + minutes + "." + seconds + " " + ampm;
                oxChart.addData([msg['num']], time);
                if(oxygenCount >= 10){
                    oxChart.removeData();
                }else{
                    oxygenCount++;
                }
                oxChart.update();
            }
        });

    {% else %}
        //Set up heart rate chart
        var heartCount = 0;
        var data = {
            labels: [],
            datasets: [
                {
                    label: "Blood Oxygen Level",
                    fillColor: "rgba(151,187,205,0)",
                    strokeColor: "rgb(208, 155, 155)",
                    pointColor: "rgb(208, 155, 155)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgb(208, 155, 155)",
                    data: []
                }
            ]
        };

        var hctx = $('#heart-chart').get(0).getContext('2d')
        var hChart = new Chart(hctx).Line(data, {
            scaleBeginAtZero: true
        });

        //Set up heart chart web socket communication
        socket.on('heart', function(msg){
            if(msg['num'] != undefined){
                var d = new Date();
                var hours = d.getHours();
                var ampm = hours >= 12 ? 'pm' : 'am';
                if(hours > 12){
                    hours = hours % 12;
                }
                var minutes = d.getMinutes();
                minutes = minutes < 10 ? '0' + minutes : minutes
                var seconds = d.getSeconds();
                seconds = seconds < 10 ? '0' + seconds : seconds
                var time = hours + ":" + minutes + "." + seconds + " " + ampm;
                hChart.addData([msg['num']], time);
                if(heartCount >= 10){
                    hChart.removeData();
                }else{
                    heartCount++;
                }
                hChart.update();
            }
        });
    {% endif %}
});
</script>
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li role="presentation" class="{{heartActive}}"><a href="{{ url_for('liveData') }}">Heart Rate</a></li>
        <li role="presentation" class="{{oxygenActive}}"><a href="{{ url_for('liveData') }}?chart=oxygen">Blood Oxygen Saturation</a></li>
    </ul>
    {% if 'chart' in request.args and request.args.get('chart') == 'oxygen' %}
        <h3>Blood Oxygen Saturation</h3>
        <canvas id="oxygen-chart" width="600" height="300"></canvas>
    {% else %}
        <h3>Heart Rate</h3>
        <canvas id="heart-chart" width="600" height="300"></canvas>
    {% endif %}

{% endblock %}
